/* Give your page a fun background color */
body {
  display: block;
  height: 100%;
  margin: 0;
  background-color: #002080;
  background-image: linear-gradient(#002080, #b3c6ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial;

}
/* Make the header and footer a different color from the background */
.bookends {
  background: rgba(80, 80, 80, .5);
  margin: 10px;
}
/* Align the h1 containing your name in the center of the header*/
.bookends h1 {
  text-align: center;
  color: #000000;
  margin: 5px;
  padding: 5px;

}
/* Make your p tag a different color and italic */
p {
  color: #FFFFFF;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  margin: 5px;
  padding: 5px;

}
/* Put a border around your image */
.billboard img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000000;
}

/* Change the font-family of your list */
.list ul {
  display: block;
  color: #000000;
  font-family: serif, verdana;
  font-size: 20px;
  text-align: center;
  list-style: inside;
  padding: 0;
}
